@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5; /* Màu nền xám nhạt đặc trưng của Facebook */
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  color: #050505;
}